html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    color: #fff;
}

button {
    background-color: var(--background);
    border: var(--outline) 1px solid ;
    box-sizing: border-box;
    transition: background-color .3s ease-in-out;
    color: white;
    cursor: pointer;
    border-radius: 0.125em;
}

button:hover {
    background-color: var(--background-hover)
}

input:is([type="number"],[type="text"],:not([type])) {
    background: rgb(37, 37, 37);
    border: rgb(83, 83, 83) 1px solid;
    color: white;
    border-radius: .5em;
    padding-left: 5px;
    
}
input[disabled]:is([type="number"],[type="text"],:not([type])) {
    background: rgb(26, 26, 26);
    color: rgb(94, 94, 94);
}
input:focus {
    outline: none !important;
    border-color: rgb(175, 175, 175); 
}

input.error:focus {
    outline: none !important;
    border-color: red; 
    background: rgb(56, 0, 0);
}

input.error {
    border-color: red; 
    background: rgb(56, 0, 0);
}

pre {
    background: rgb(26, 26, 26);
    padding: 5px 3px;
}

.field {
    display: inline-block;
    background: #222;
    border-radius: .25em;
    padding-left: 5px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 3px;
}

.vertical-divider {
    display: inline-block;
    height: 1em;
    width: 1px;
    transform: translateY(2px);

    background: gray;
}

.horizontal-divider {
    display: block;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

    background: gray;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, gray 10%, gray 85%, rgba(80,80,80,0) 100%);
}