#jsce-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 9999999999;
    background: rgba(0, 0, 0, 1);
    color: #fff;

    --outline: rgb(83, 83, 83);
    --background: rgb(37, 37, 37);
    --background-hover: rgb(56, 56, 56);
}

.page {
    width: 100%;
    height: 100%;
}

#rng-input {
    width: 80%;
}

/* 
.navbar {
    width: 100%;
    height: 2em;
}

.nav-item {
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    float: left;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out
}

.nav-item[selected=true] {
    background-color: rgb(64, 64, 64);
}

.nav-item:hover {
    background-color: rgb(24, 24, 24);
}
*/
.box {
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.box-header {
    width: calc(100% - 10px);
    border-bottom: 1px solid gray;
    font-size: 1.4em;
    margin-bottom: 5px;
    
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider[disabled]::-moz-range-thumb {
    background: gray;
    cursor: default;
}

.slider[disabled]::-webkit-slider-thumb {
    background: gray;
    cursor: default;
}

.slider[disabled] {
    background: rgb(80, 80, 80);
}

.quote {
    border-left: 5px solid gray;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;

    margin: 5px 0;
}

#random-callstack-disp {
    overflow-y: auto;
    max-height: 30vh;
}

#random-callstack-disp > div:not(:last-child) {
    margin-bottom: 0px;
    box-sizing: border-box;
}
#random-callstack-disp > div:hover > pre{
    background: var(--background-hover);
    cursor: pointer;
}
.dark-scrollbar::-webkit-scrollbar {
    width: .8em;
}
 
.dark-scrollbar::-webkit-scrollbar-track {
    background:rgb(20, 20, 20);
}
 
.dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.151);
    /* border-radius: .4em; */
    margin: 3px 0;
}

.override-value {
    padding: 3px 0;
    background: var(--background);
}

#type-select-cont {
    margin-bottom: 5px; 
}

#type-select {
    cursor: default;
}

#type-select > input {
    cursor: pointer;
}

#search-res {
    overflow-y: auto;
    max-height: 75vh;
}

#search-res > div:hover {
    background: rgb(24, 24, 24);
}

.search-box:not(:last-child) {
    border-bottom: 1px solid var(--outline);
    
}

.search-box {
    padding-left: .4em;
    padding-right: .4em;
    display: block;
    border-top: 5px solid transparent;
    padding-bottom: 5px;
    cursor: pointer;
    font-family:monospace;
}

.search-box input {
    font-family: inherit;
}

.search-box:first-child {
    border-top: 2px solid transparent;
    padding-bottom: 8px;
}

.search-box div:nth-child(1) {
    text-align: left;
    display: inline-block;
	left: 3px;
}

.search-box div:nth-child(2) {
    /* text-align: left; */
    float: right;
    margin: 0;
    padding: 0;
    /* min-width: 10%; */
}
.search-box div:nth-child(2)::before {
    content: attr(data-type);
    display: inline-block;
    margin-right:1em;
}

.search-box .search-val-string span::before, 
.search-box .search-val-string span::after { content: "'" }

.type-option {
    margin-left: 0;
    padding-left: 0;
}

#search-res > div.search-box:hover div[data-type]:nth-child(2)::before {
    background: rgb(45, 45, 45);
    
}

.search-box div[data-type]:nth-child(2)::before {
    background: rgb(32, 32, 32);
    content: attr(data-type);
    display: inline-block;
    padding: 2px .3em ;
    text-transform:capitalize;
    border-radius: 5px;
}

.search-box div[data-type="string"]:nth-child(2)::before{ color: yellow }
.search-box div[data-type="number"]:nth-child(2)::before { color: mediumaquamarine }
.search-box div[data-type="boolean"]:nth-child(2)::before { color: rgb(108, 108, 255) }
.search-box div[data-type="function"]:nth-child(2)::before { color: mediumpurple }

.list-item {
    transition: margin-bottom .2s ease-in-out
}

.list-item:first-child {
    margin-top: 5px;
}

.list-item:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--outline);
}

#autoclick-container input {
    font-family: monospace;
}